@using ClothShop.ViewModels
@model RegisterVM

@{
    ViewData["Title"] = "Sign up";
}

<head>
    <link rel="stylesheet" href="~/css/account.css"/>
</head>
<div class="row">
    <div class="col-md-6 offset-3 element-shadow-no-hover">
        <p class="title">
            Регистрация
        </p>

        @if (TempData["Error"] != null)
        {

                <div class="col-md-12 alert alert-danger">
                    <span><b>Sorry!</b> - @TempData["Error"] </span>
                </div>
        }

        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Register">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="EmailAddress" class="control-label">Электронная почта</label>
                        <input asp-for="EmailAddress" class="form-control element-shadow-no-hover"  />
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label">Пароль</label>
                        <input asp-for="Password" class="form-control element-shadow-no-hover" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="control-label">Подтвердите пароль</label>
                        <input asp-for="ConfirmPassword" class="form-control element-shadow-no-hover" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>

                    <div class="form-group d-flex justify-content-center">
                        <input class="btn btn-outline-success mx-3 float element-shadow" type="submit" value="Зарегистрироваться" />
                        <a class="btn btn-outline-secondary mx-3 float element-shadow" asp-controller="Home" asp-action="Index">Отмена</a>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>